<%= form_input({ :object => @field, :input => field_input, :name => field_name, :required => required, :description => description, :errors => errors }, { :prefix => field_model + '_field_', :options => options }) %>